*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color: hsl(292, 42%, 14%);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f9f0ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  width: 100vw;
}

#background-pattern {
  width: 100%;
  object-fit: cover;
  /* border: 2px solid red; */
  margin: 0;
}

#card {
  /* border: 2px solid red; */
  padding: 25px;
  width: 90%;
  margin: 0;
  background-color: white;
  border-radius: 5%;
  position: absolute;
  top: 60px;
}

#card-heading {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;
  height: 50px;
  width: 150px;
  position: relative;
}

#icon-star {
  width: 30px;
  position: relative;
  top: 0;
}

h1 {
  font-size: 2.5rem;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.items {
  border-top: 2px solid #f9f0ff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  width: 75%;
}

h3:hover {
  color: #e164f4;
  cursor: pointer;
  transform: scale(1.02);
}

.add-minus-icon {
  justify-self: end;
  cursor: pointer;
  border: none;
  background-color: white;
}

p {
  width: 90%;
  font-size: 0.8rem;
  color: #8c6991;
  opacity: 0.8;
  line-height: 1.5;
}

.info-hide {
  display: none;
}

@media screen and (min-width: 416px) {
  #card {
    width: 450px;
    border-radius: 2%;
    /* margin-top: 145px; */
  }
  #background-pattern {
    height: 30vh;
    width: 100%;
  }
}

@media screen and (min-width: 516px) {
  #card {
    width: 550px;
  }
  h3 {
    width: 100%;
    margin-right: 10px;
  }
  #info {
    font-size: 1rem;
  }
}
